@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-3 btn btn-default">
        <div class="glyphicon glyphicon-music" />
    </div>
    <div class="col-md-3 btn btn-default">
        <div class="glyphicon glyphicon-camera" />
    </div>
    <div class="col-md-3 btn btn-default">
        <div class="glyphicon glyphicon-book" />
    </div>
</div>